<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<dl>
  <dt>
    Time.zone
  </dt>
  <dd>
    <%= Time.zone %>
  </dd>
  <dt>
    Time.zone.now
  </dt>
  <dd>
    <%= Time.zone.now %>
  </dd>
</dl>

<% if current_user.present? %>
  <dl>
    <dt>
      user.timezone_browser
    </dt>
    <dd>
      <%= current_user.timezone_browser %>
    </dd>
    <dt>
      user.timezone_manual
    </dt>
    <dd>
      <%= current_user.timezone_manual %>
    </dd>
  </dl>
  <%= form_with model: @change_timezone_form, url: update_timezone_path do |f| %>
    <%= f.select :timezone_manual, @change_timezone_form.all_zones, include_blank: true %>
    <%= f.submit "Update" %>
  <% end %>
<% else %>
  Please log in to change timezone
<% end %>
