<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
Time.zone.now
<%= Time.zone.now %>
<br>
Time.zone
<%= Time.zone %>
<br>

<% if current_user.present? %>
  user.timezone_browser
  <%= current_user.timezone_browser %>
  <br>
  user.timezone_manual
  <%= current_user.timezone_manual %>
  <br>
  <%= form_with model: @change_timezone_form, url: update_timezone_path do |f| %>
    Current time:
    <%= Time.zone.now.to_fs :long %>
    <br>
    Current timezone:
    <%= Time.zone.tzinfo.name %>
    <br>
    <%= f.select :timezone_manual, @change_timezone_form.all_zones, include_blank: "Use browser timezone" %>
    <%= f.submit "Update" %>
  <% end %>
<% else %>
  Please log in to change timezone
<% end %>
